/* uiverse.io/mrhyddenn/black-bullfrog-16 */
.spinner { position: relative; display: inline-block; flex: none; width: 1em; height: 1em; vertical-align: middle; }
.spinner .spinner-blade { position: absolute; left: .4629em; bottom: 0; width: .074em; height: .2777em; border-radius: .0555em; background-color: transparent; transform-origin: center -.2222em; animation: spinner-fade 1s infinite linear; }
@keyframes spinner-fade { 0% { background-color: var(--muted); } 100% { background-color: transparent; } }
@media (prefers-reduced-motion: reduce) { .spinner .spinner-blade { animation-duration: 3s; } }
